---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero-img.webp";
import Link from "./ui/link.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block mr-10">
    <Image
      class="rounded-xl shadow-xl"
      src={heroImage}
      alt="Trash floating down river into bubble barriers."
      height={450}
      width={600}
      format="webp"
    />
  </div>
  <div class="md:order-2">
    <h1
      class="text-5xl lg:text-6xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      A bubble barrier to reduce ocean-bound plastic.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Preserving waters, empowering change.
    </p>
    <div class="flex mt-5">
      <Link href="/contact" style="primary">Get in touch</Link>
    </div>
  </div>
</main>
